body{
    background: var(--grey-color);
    overflow-y: hidden;
}

.main{
    position: absolute;
    display: flex;
    flex-flow: row;
    margin-top: 7rem;   
    height: calc(100vh - 6rem);
    width: 100dvw;
    padding: 1rem;
}
